@import '../../scss/sass-shit.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: 2rem;

  background-color: #000;
  border-bottom: 0.0625rem solid #222;

  @media print {
    display: none;
  }
}

.logo {
  color: #fff;

  cursor: pointer;

  &:hover {
    span {
      color: #ff0000;
    }
  }

  span {
    color: #3498db;
    transition: all 0.10s ease-in-out;
  }
}

.nav {
  @include ul-reset;

  display: flex;

  li {
    margin-left: 1.25rem;
  }

  a {
    display: block;

    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #3498db;
    }
  }
}
