a {
  color: #000;
  text-decoration-color: #3498db;
  transition: all 0.10s ease-in-out;

  &:hover,
  &:visited:hover {
    text-decoration-color: #FF0000;
  }

  &:visited {
    color: inherit;
    text-decoration-color: #3498db;
  }
}
