@mixin h6 {
  margin-top: 0;
  margin-bottom: 3rem;

  font-size: 0.75rem;
  text-align: center;
}

@mixin ul-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

@mixin container {
  padding: $section-vertical-padding 3rem;

  @media (min-width: 64rem) {
    padding-right: $section-horizontal-padding;
    padding-left: $section-horizontal-padding;
  }

  // @media (min-width: 64rem) {
  //   padding-top: 0;
  //   padding-bottom: 0;
  // }
}

@mixin section-header  {
  @include h6;

  text-align: center;
}
