.slick-custom {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  .slick-arrow {
    height: 1.5rem;
    width: 2.6875rem;

    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }

  .slick-prev {
    background-image: url(../svgs/prev-arrow.svg);
    background-position: center right -0.3125rem;

    &:hover {
      background-position: center right;
    }
  }

  .slick-next {
    background-image: url(../svgs/next-arrow.svg);
    background-position: center left -0.3125rem;

    &:hover {
      background-position: center left;
    }
  }

  .slick-slide {
    cursor: grab;
  }

  .slick-dots {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    grid-column: 1 / -1;

    text-align: center;

    li {
      width: 1.25rem;
      height: 1.25rem;
      cursor: pointer;
      position: relative;
      display: inline-block;
      margin: 0 0.3125rem;
      padding: 0;

      &.slick-active button::before {
        opacity: .75;
        color: #000;
      }
    }

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      padding: 0.3125rem;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      width: 1.25rem;
      height: 1.25rem;
      cursor: pointer;

      &::before {
        font-family: slick;
        font-size: 1.5rem;
        line-height: 1.25rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.25rem;
        height: 1.25rem;
        content: "\2022";
        text-align: center;
        opacity: .25;
        color: #000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}
