@import '../../scss/sass-shit';

.container {
  margin-bottom: 6.25vw;
}

.heading {
  @include h6;

  text-align: center;
}

.thumbnails {
  @include ul-reset;

  display: grid;
  grid-gap: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;

  @media (min-width: 64rem) {
    grid-template-columns: 1fr 1fr;
    width: 75vw;
    margin-right: auto;
    margin-left: auto;
  }
}

.thumbnail {
  cursor: pointer;

  img {
    display: block;
    width: 100%;

    transition: all 0.15s ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}

.name {
  font-size: 1rem;

  @media (min-width: 64rem) {
    font-size: get-vw(1.5rem);
  }
}
