@import '../../scss/sass-shit';

.container {
  @include ul-reset;

  display: flex;
  margin-left: -0.5rem;

  a {
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    &:hover {
      opacity: 0.5;
    }
  }
}
