@import '../../scss/functions';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: get-vw(5.625rem);
  text-transform: uppercase;
  text-shadow: 0px 4px 3rem rgba(0, 0, 0, 0.15);
}

.pronunciation {
  margin-top: 0;
  margin-bottom: 0;

  font-size: get-vw(0.625rem);
  font-weight: 700;

  opacity: 0.5;
}

.description {
  position: relative;

  max-width: 50rem;
  margin: 2.5rem auto 3rem auto;
  padding-top: 3rem;

  font-size: get-vw(1.125rem);

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;

    height: 0.25rem;
    margin-left: -(get-vw(5.625rem));
    width: get-vw(11.25rem);

    background-color: #000000;
  }
}

.socialMediaLinks {
 a {
   margin-right: 0.5rem;
   margin-left: 0.5rem;
   
   &:hover {
     opacity: 0.5;
   }
 }
}
