.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;

  color: #fff;
  text-align: center;
  
  background-color: #000;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.pronunciation {
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
}

.socialMediaLinks {

}
