@import '../../scss/sass-shit';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6rem;
  min-height: 100vh;
  padding-right: 3rem;
  padding-left: 3rem;

  color: #fff;
  text-align: center;

  background-color: #000;

  @media (max-width: 48rem) and (orientation: landscape) {
    height: 200vh;
  }

  a {
    color: #fff;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 3rem;
  line-height: 1;

  @media (min-width: 48rem) {
    font-size: get-vw(6rem);
  }

  @media (min-width: 64rem) {
    font-size: get-vw(8rem);
  }
}

.pronunciation {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;

  opacity: 1;

  @media (min-width: 64rem) {
    font-size: get-vw(0.625rem);
  }
}

.description {
  position: relative;

  max-width: 50rem;
  margin: 2.5rem auto 0 auto;
  padding-top: 3rem;

  opacity: 1;

  @media (min-width: 64rem) {
    font-size: get-vw(1.125rem);
  }

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;

    height: 0.25rem;
    margin-left: -(get-vw(5.625rem));
    width: get-vw(11.25rem);

    background-color: #000000;
  }
}
