@import '../../scss/sass-shit.scss';

.container {
  display: flex;
  background-color: #000;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 50vw;

    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background-color: #3498db;
    }
  }
}
