@import '../../scss/sass-shit.scss';

.container {
  padding-top: get-vw(5rem);
  padding-bottom: get-vw(5rem);

  text-align: center;

  background-color: #000;

  a {
    padding: 2rem;

    color: #ffffff;
  }
}
