@import '../../scss/sass-shit';

.container {
  @include container;

  color: #fff;

  background-color: #000;

  @media (min-width: 64rem) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  a {
    color: #fff;

    &:visited {
      color: #fff;
    }
  }
}


.bio,
.image,
.stats {
  grid-row-start: 1;
}

.image {
  position: relative;
  align-self: start;
  grid-column: 1 / 5;

  img {
    max-width: 100%;

    box-shadow: 8px 8px 0 0 #ffffff25;
  }
}

.bio {
  z-index: 1;

  @media (min-width: 64rem) {
    display: grid;
    align-self: start;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 4 / 10;
  }

  > div {
    grid-column: 4 / -2;
  }
}

.heading {
  position: relative;

  grid-column: 2 / -1;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  font-size: get-vw(3rem);

  @media (min-width: 64rem) {
    margin-top: 5rem;
  }

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    height: 0.25rem;
    width: get-vw(11.25rem);

    background-color: #FF0000;
  }
}

.stats {
  grid-column: -4 / -1;

  ul {
    @include ul-reset;

    margin-bottom: 2rem;
  }

  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.subheadings {
  margin-top: 0;
}

