@import '../../scss/sass-shit';

.container {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $section-vertical-padding;

  color: #fff;

  background-color: #000;

  @media (min-width: 64rem) {
    height: 65vh;
  }
}

.inner {
  display: grid;
  grid-gap: get-vw(2.5rem);

  @media (min-width: 64rem) {
    grid-template-columns: 1fr 1fr;
  }

  p {
    margin-bottom: 0;
  }
}

.heading {
  margin-top: 0;
  margin-bottom: 1.5rem;

  font-size: 2.5rem;

  @media (min-width: 64rem) {
    margin-bottom: get-vw(2rem);
    font-size: get-vw(3.25rem);
  }
}

.subheading {
  margin-top: 0;

  font-size: 1rem;

  @media (min-width: 64rem) {
    font-size: get-vw(1rem);
  }
}
